<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IPA Reading Text Converter</title>
    <link rel="stylesheet"
          href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=100.0, user-scalable=1">
    <link rel="stylesheet" href="../static/css/prism.css">
    <script src="../static/js/prism.js"></script>
    <link rel="stylesheet" href="../static/css/basic.css">
</head>
<body>
<h1>IPA Reading Text Converter</h1>

<form method="post" enctype="text/plain" accept-charset="UTF-8">
    <h3><label for="raw-text">Fill texts</label></h3>
    <textarea id="raw-text" name="raw-text" rows="10" cols="40">{{ raw_text|safe }}</textarea>
    <button class="pure-button-primary" type="submit">Convert</button>
</form>
<h3>Phonetics</h3>
<p id="output-text">{{ converted_text| replace("\n", "<br>\n") | safe}}</p>
</body>
</html>