<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>日本語にふりがなをつける</title>
    <link rel="stylesheet"
          href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=100.0, user-scalable=1">
    <link rel="stylesheet" href="../static/css/prism.css">
    <script src="../static/js/prism.js"></script>
    <link rel="stylesheet" href="../static/css/basic.css">
</head>
<body>
<h1>日本語テキストを&ltruby&gtタグ付きのHTMLに変換する</h1>
<h2>Adding &ltruby&gt tags to Japanese texts.</h2>

<div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
        <form method="post" enctype="text/plain" accept-charset="UTF-8">
            <h3><label for="raw-text">入力欄 Fill texts</label></h3>
            <textarea id="raw-text" name="raw-text" rows="7" cols="40">{{ raw_text|safe }}</textarea>
            <button class="pure-button-primary" type="submit">変換</button>
        </form>
        <h3>表示 Text</h3>
        <p class="display" id="output-text">{{ converted_text|safe }}</p>
        <h3>HTML source</h3>
        <pre><code class="language-Markup" data-language="ruby-tag.html"
                   id="html-code">{{ converted_text }}</code></pre>
    </div>
    <div class="pure-u-1-5"></div>
</div>
</body>